body {
    background-color: #555;
	width: 1280px;
	height: 800px;
	text-align: center;
	margin-top: 5%;
}

#footer_again{
 color:red;
 background:white;
}

#content{
	width: 1280px;
	height: 800px;
	border: 2px solid black;
}

#rsidebar {
	float: right;
	background-color: #eee;
	width: 200px;
	height: 745px
}

#container {
	float: left;
    border: 2px solid black;
	width: 1070px;
	height: 740px;
}

#map {
    border: 2px solid black;
	width: 1060px;
	height: 730px;
	margin: 5px;
}

#footer {
	background-color: #eee;
	height: 50px;
	width: 1280px;
}



div.overlay {
	background-color: white;
	width: 250px;
	height: 320px;
	display: none;
}


/*css fuer karte*/
.wml-overview-map-control {
	border: 1px solid white !important;
	
}
/*ende css fuer karte*/



/*



html {
	padding:0;
	width: 100%;
	bottom: 44px;
}




#closePage{
	background: none repeat scroll 0 0 transparent;
    border: medium none;
    height: 35px;
    width: 37px;
	float:right;
}

#nextPage{
	background: none repeat scroll 0 0 transparent;
    border: medium none;
    height: 35px;
    width: 37px;
	float:right;
}
#backPage{
	background: none repeat scroll 0 0 transparent;
    border: medium none;
    height: 35px;
    width: 37px;
	float:right;
}
#footer {
	position: absolute;
	background-color: white;
	height: 40px;
	left:0;
	right: 0;
	bottom:0;
	margin: 0;
	z-index: 2;
}
*/



